<!-- <ul class="list-group">
  <li class="list-group-item" *ngFor="let post of posts">
      {{post.title}}
  </li>
</ul> -->
Title : <input type="text" #post1 (keyup.enter) = "CreatePost(post1)">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">body</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let post of posts ; let i=index;"  >
      <th scope="row">{{i +1}}</th>
      <td> {{post.id}}</td>
      <td> <button (click) = "UpdatePost(post,post1.value)">Update</button> {{post.title}}</td>
      <td> {{post.body}}</td>
    </tr>
  </tbody>
</table>
